[Desktop Entry]
Type=Application
Name=modem_restart
Exec=/home/user/.local/share/applications/modem_restart.sh
Icon=network-cellular-signal-none
StartupNotify=false
