[Desktop Entry]
Type=Application
Name=video landscape
Exec=kgx -e /home/user/.local/share/applications/video_landscape.sh
Icon=orientation-landscape
StartupNotify=false