[Desktop Entry]
Type=Application
Name=wifi_restart
Exec=/home/user/.local/share/applications/wifi_restart.sh
Icon=network-wireless-offline
StartupNotify=false
